body {
	margin: 0;
	padding: 0;
}

.bg-img {
	position: fixed;
	top: 0;
	width: 100%;
	filter: blur(4px);
	z-index: -1;
}

.website-result {
	height: 100vh;
	overflow: hidden;
}

.likert-scale-options {
	display: flex;
	flex-direction: row;
}

.likert-scale-option {
	display: flex;
	flex-direction: column-reverse;
	gap: 0.5rem;
	width: 5rem;
	justify-content: space-between;
	align-items: center;
}

.likert-scale-option>* {
	align-self: center;
	justify-self: center;
}

.likert-scale-option>label {
	text-align: center;
	max-height: 1em;
	min-height: 1em;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 120%;
	font-weight: bolder;
	color: #000814;
}

h1,
h2,
h3 {
	padding: 2vw 2vw;
}

p {
	font-family: "Times New Roman", Times, serif;
	padding: 0 4vh;
}

label {
	font-family: "Times New Roman", Times, serif;
	padding-bottom: 1.5vh;
	width: fit-content;
}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

button {
	width: fit-content;
	height: 4vh;
	min-height: fit-content;
	color: #caf0f8;
	background-color: #003554;
	border-radius: 4px;
	font-weight: bold;
	margin: 2vh;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	/*https://getcssscan.com/css-box-shadow-examples*/
}

button:hover {
	color: white;
	background-color: #006494;
}

input[type="radio"] {
	cursor: pointer;
	width: 20px;
	height: 20px;
}

input[type="text"] {
	font-family: monospace;
	font-size: 115%;
	width: 4em;
	height: 20px;
	text-align: center;
	padding: 1.5px;
}

input[type="text"]::placeholder {
	padding: 0;
}

a {
	padding: 2vh;
	font-size: 110%;
	color: #003554;
}

a:hover {
	color: #006494;
}

a:visited {
	color: #003554;
}

/* https://blog.hubspot.com/website/css-loading-animation */
@keyframes movementLoader {
	0% {
		background-position: -100vw 0;
	}

	100% {
		background-position: 100vw 0;
	}
}

.loading-bar {
	margin: 0;
	padding: 0;
	animation-duration: 2.7132s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: movementLoader;
	animation-timing-function: linear;
	background: rgb(2, 62, 138);
	background: linear-gradient(90deg,
			rgba(2, 62, 138, 1) 0vw,
			rgba(2, 62, 138, 1) 35vw,
			rgba(144, 224, 239, 1) 50vw,
			rgba(2, 62, 138, 1) 65vw,
			rgba(2, 62, 138, 1) 100vw);
}

.loading-bar-progress {
	visibility: hidden;
	height: 0.8vh;
}

#likert-scale-container {
	/* margin: 0.5rem; */

	background-color: white;
	border-radius: 6px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	/*https://getcssscan.com/css-box-shadow-examples*/
	padding: 4vw;
	padding-top: 0;
	margin-top: 4vh;
	margin-bottom: 4vh;

	width: fit-content;
	position: absolute;
	top: 0;
}

.search-title {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-weight: 900;
	font-size: 280%;
	padding: 2vw 2vw;
}

.likert-scale {
	max-width: fit-content;
}

button.luck-button {
	width: fit-content;
	height: 4vh;
	min-height: fit-content;
	color: black;
	background-color: rgb(240, 240, 240);
	border-radius: 4px;
	border-width: 1px;
	border-color: rgb(180, 180, 180);
	font-weight: normal;
	margin: 2vh;
	box-shadow: none;
}

button.luck-button:hover {
	background-color: rgb(240, 240, 240);
	border-width: 1px;
	border-color: gray;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.question-bar {
	line-height: 4vh;
	font-size: larger;
	background-color: white;
	border-color: white;
	border-radius: 10vw;
	border-width: 0.2vw;
	border-style: solid;
	box-shadow: 0.1vw 0.3vw 0.3vw rgba(150, 150, 150, 0.2),
		-0.1vw 0vw 0.5vw rgba(150, 150, 150, 0.2);
	padding: 0.5vw 1.1vw;
	margin: 1vw 20vw 1vw 20vw;
	min-height: 4vh;
	width: 55%;
	display: block;
}

.question {
	font-size: 85%;
	text-align: left;
	width: fit-content;
	justify-self: left;
	padding-left: 3vw;
}

.question-bar:hover {
	box-shadow: 0.1vw 0.3vw 0.3vw rgba(150, 150, 150, 0.5),
		-0.1vw 0vw 0.5vw rgba(150, 150, 150, 0.5);
	cursor: not-allowed;
}

.consent-check{
	display: flex;
	flex-direction: row;
	max-width: 80%;
}

.consent-check > * {
	text-align: center;
	align-self: center;
	padding-bottom: 0;
	font-size: 90%;
}

.consent-check > input {
	width: 20px;
	height: 20px;
}

.hidden{
	display: none;
}

@media only screen and (max-device-width: 500px) and (orientation: portrait) {
	input[type="radio"] {}

	.question-bar {
		width: 75%;
	}

	.likert-scale-option>* {
		font-size: smaller;
	}

	.likert-scale {
		max-width: 75%;
	}

	#likert-scale-container {
		max-width: 75%;
	}

	.search-title {
		font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
		font-weight: 900;
		font-size: 190%;
	}
}